<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.select(:sexo, options_for_select([["Masculino", "M"], ["Feminino", "F"]], @child.sexo), {include_blank: "Selecione"}) %>
  </div>
  <div class="field">
    <%= f.label :father_id %><br>
    <%= f.collection_select(:father_id, @fathers, :id, :name, include_blank: "Selecione") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
