<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @child.sexo %>
</p>

<p>
  <strong>Father:</strong>
  <%= @child.father.name %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
